@model Feedback


<form asp-action="Index" method="post" class="form-horizontal" role="form">



    <div class="form-group row">
        <label asp-for="Name" class="col-md-1 control-label"></label>
        <div class="col-md-11">
            <input asp-for="Name" class="form-control" />

        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-md-1 control-label"></label>
        <div class="col-md-11">
            <input asp-for="Email" class="form-control" />

        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Message" class="control-label col-md-1"></label>
        <div class="col-md-12">
            <textarea asp-for="Message" class="form-control" rows="5"></textarea>

        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ContactMe" class="col-md-1 control-label"></label>
        <div class="col-md-offset-1 col-md-1">
            <input type="checkbox" asp-for="ContactMe" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Send feedback" />
        </div>
    </div>

</form>
